<link rel="icon" type="image/png" sizes="16x16" href="/bx-favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/bx-favicon-32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/bx-favicon-48x48.png">
<link rel="icon" type="image/png" sizes="64x64" href="/bx-favicon-64x64.png">
<link rel="apple-touch-icon" sizes="180x180" href="/bx-favicon-180x180.png">
<link rel="shortcut icon" href="/bx-favicon.ico">

{{ if .Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-DC0o5gkP7FpC18m0tHbdD+14Q6gttxyPjdvVSxGInxjeRGna43EIBgzHuLl5E5D2" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF6zkRgZNpmjQe7YQDdyCjTiMQuuLHfoalGoVIRdNvK3" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQp5Jxv1RyhokW2N7DbStO2Qe6hwMRyffA9H9n1tFoZT3zh0+BTtPl1vEuf" crossorigin="anonymous"
  onload="renderMathInElement(document.body);"></script>
{{ end }}
